@using Oils.Models.ViewModels
@using Oils.Data.Domains
@using Oils.Services
@using Oils.ViewComponents
@model CreateOrderViewModel
@inject IOrdersService orderservices

<h1 class="text-center suls-text-color">Create Order</h1>
<form asp-controller="Orders" asp-action="Create" method="post" id="myForm">

    <div class="container-fluid">
        <div class="row">
            <div class="col-4">

                <label asp-for="Receiver.Name">Receiver name</label>
                <input asp-for="Receiver.Name" class="form-control" onchange="getReceiverValue()" />
                <span asp-validation-for="Receiver.Name" class="text-danger"></span>

                <label asp-for="DeliveryAddress.Street">Addresses list</label>
                <input asp-for="DeliveryAddress.Street" class="form-control" list="addresses" />
                <datalist id="addresses">
                    <option>Address1</option>
                    <option>Address2</option>
                    <option>Address3</option>
                </datalist>

                <label asp-for="Purpose"></label>
                <select asp-for="Purpose" class="form-control" asp-items="@Html.GetEnumSelectList<OrderPurpose>()"></select>

            </div>
            <div class="col-4">

                <label asp-for="Carrier.Name">Carrier name</label>
                <input asp-for="Carrier.Name" class="form-control" onchange="getCarrierValue()" />
                <span asp-validation-for="Carrier.Name" class="text-danger"></span>

                <label asp-for="Vehicle.RegNumber">Vehicles list</label>
                <input asp-for="Vehicle.RegNumber" class="form-control" list="vehicles" />
                <datalist id="vehicles">
                    <option>Vehicle1</option>
                    <option>Vehicle2</option>
                    <option>Vehicle3</option>
                </datalist>

                <label asp-for="Driver.FullName">Drivers list</label>
                <input asp-for="Driver.FullName" class="form-control" list="drivers" />
                <datalist id="drivers">
                    <option>Driver1</option>
                    <option>Driver2</option>
                    <option>Driver3</option>
                </datalist>

            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-warning">Create</button>
    </div>
</form>



